* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

header{
    background-color: white;
}

.header-logo{
    margin: 0rem 0.625rem;
}

header span {
    font-size: 2.5rem;
}

.logo, .text-logo {
    vertical-align: middle;
}

/* fine header */

.container{
    width: 60%;
    margin: auto;
    margin-top: 10vh;
    background-color: white;
}

.buttons{
    height: 15%;
}

.button-filled{
    background-color: #47ADF1;
    color: white;
    border: #47ADF1;
  }

.button-empty{
    background-color: white;
    border: 1px solid grey;
    color: grey;
  }

.button{
    border-radius: 5px 5px 5px 5px;
    height: 30px;
    width: 80px;
    margin: 1.563rem 0.625rem;
}

.line{
    height: 0.125rem; 
    width: 100%;
    background-color: grey;
}

/* fine bottoni iniziali */


/* lista parte centrale */

.lists, .options{
    margin: 0.625rem 0.625rem;
}

h3::before{
    content:' \25BC';
}

 h3 {
    color: #6D7077;
}

.circle{
    vertical-align: middle;
    border-radius: 50%;
    color: green;
    border:1px solid green;
}

.circle-no{
    vertical-align: middle;
    border-radius: 50%;
    color: red;
    border:1px solid red;
}

.mini-button{
    margin-left: 0.313rem;
    border-radius: 8px 8px 8px 8px;
    width: 4.063rem;
    height: 1.563rem;
}

/* inizio colori dei vari bottoni */

.blue {
    color: white;
    background-color: #45ABEA;
    border: #45ABEA;
}

.violet {
    color: white;
    background-color: #9C72E4;
    border: #9C72E4;
}

.green {
    color: white;
    background-color: #8BD1C1;
    border: #8BD1C1;
}

.orange {
    color: white;
    background-color: #F29E33;
    border: #F29E33;
}

.pink{
    color: white;
    background-color: #D863A1;
    border: #D863A1;
}

.yellow{
    color: white;
    background-color: #B0C926;
    border: #B0C926;
}